@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Texto principal */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

/* Texto secundario */
span,
p,
a,
li,.btn {
    font-family: 'Orbitron', sans-serif;
}