#carouselHero .carousel-inner .carousel-item img {
    height: 400px;
    object-fit: cover;
}

.tienda-cart .card-img-top {
    height: 300px;
    object-fit: cover;
}

.tienda-registro-placeholder::placeholder{
    color: #fff;
    opacity: 1;
}